
.vs/slnx.sqlite
.vs/Checkers for windows/FileContentIndex/1810d849-fd28-4f1d-adb0-c951adef4436.vsidx
.vs/Checkers for windows/v17/Browse.VC.db
.vs/Checkers for windows/FileContentIndex/be6ac5f2-5de9-4b1c-b433-6a329219757d.vsidx
.vs/Checkers for windows/FileContentIndex/01220875-d7cb-46c7-9298-1824021c897c.vsidx
